<%- include("../../partials/header") -%>

<%- include("../../partials/sidebar-style") -%>
</head>

<body>
  <%- include("../../partials/navbar") -%>

  <div class="container p-0" style="max-width: none;">
    <div class="d-flex" style="height: 100vh;">
      <%- include("../../partials/sidebar") -%>

      <div class="pt-3 tab-content w-100" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-members" role="tabpanel" aria-labelledby="v-pills-members-tab">
          <div class="container ps-0" style="max-width: none;">
            <h1>Add Member</h1>
            <hr>

            <div style="max-width: 1200px;">
              <form id="form-add-member" action="" method="POST" class="m-auto" style="max-width: 650px;">
                <div class="row mb-3 align-items-center justify-content-between">
                  <div class="col-auto">
                    <label class="form-check-label" for="member">Member</label>
                  </div>
                  <div class="col-auto w-75">
                    <select id="member" name="member" class="form-select" aria-label="Default select example">
                      <option value="" disabled selected hidden>Choose the member ...</option>
                      <% for( let i = 0; i < memberOptions.length; i++ ) { %>

                      <option value="<%= memberOptions[i].userid %>"><%= memberOptions[i].firstname %></option>

                      <% } %>
                    </select>
                  </div>
                </div>

                <div class="row mb-3 align-items-center justify-content-between">
                  <div class="col-auto">
                    <label class="form-check-label" for="position">Position</label>
                  </div>
                  <div class="col-auto w-75">
                    <select id="position" name="position" class="form-select" aria-label="Default select example">
                      <option value="" disabled selected hidden>Choose the position ...</option>
                      <option value="Manager">Manager</option>
                      <option value="Programmer">Programmer</option>
                      <option value="Quality Assurance">Quality Assurance</option>
                    </select>
                  </div>
                </div>

                <button class="btn btn-primary" type="submit">Save</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<%- include("../../partials/footer") -%>