<%- include("../partials/header") -%>
<style>
  a {
    text-decoration: none;
  }

  .fa {
    cursor: pointer;
    margin-left: 4px;
    font-size: 12px;
  }

  .table th,
  td {
    border-top: 1px solid #ddd;
  }
</style>
</head>

<body>
  <%- include("../partials/navbar") -%>

  <div class="container mt-2">
    <div class="container projects-container">
      <h1>Projects</h1>
      <hr>

      <div class="container filters-container">
        <h2>Filters</h2>

        <form id="form-filter-projects" action="" method="get" class="m-auto mb-3" style="max-width: 500px;">
          <input type="hidden" value="1" id="page" name="page" class="form-control">

          <div class="row mb-3 align-items-center justify-content-between">
            <div class="col-auto">
              <input <%= queryParamObj.projectidcheck && "checked" %> type="checkbox" class="form-check-input" id="projectidcheck" name="projectidcheck">
              <label class="form-check-label" for="projectidcheck">ID</label>
            </div>
            <div class="col-auto w-75">
              <input value="<%= queryParamObj.projectid %>" type="text" id="projectid" name="projectid" class="form-control" placeholder="ID">
            </div>
          </div>

          <div class="row mb-3 align-items-center justify-content-between">
            <div class="col-auto">
              <input <%= queryParamObj.namecheck && "checked" %> type="checkbox" class="form-check-input" id="namecheck" name="namecheck">
              <label class="form-check-label" for="namecheck">Name</label>
            </div>
            <div class="col-auto w-75">
              <input value="<%= queryParamObj.name %>" type="text" id="name" name="name" class="form-control" placeholder="Name">
            </div>
          </div>

          <div class="row mb-3 align-items-center justify-content-between">
            <div class="col-auto">
              <input <%= queryParamObj.membercheck && "checked" %> type="checkbox" class="form-check-input" id="membercheck" name="membercheck">
              <label class="form-check-label" for="membercheck">Member</label>
            </div>
            <div class="col-auto w-75">
              <select id="member" name="member" class="form-select" aria-label="Default select example">
                <option value="" disabled selected hidden>Choose the member ...</option>
                <% for( let i = 0; i < memberOptions.length; i++ ) { %>

                <option <%= memberOptions[i].userid == queryParamObj.member && "selected" %> value="<%= memberOptions[i].userid %>"><%= memberOptions[i].firstname %></option>

                <% } %>
              </select>
            </div>
          </div>

          <button class="btn btn-primary" type="submit">Search</button>
          <button id="btn-reset" class="btn btn-secondary">Reset</button>
        </form>
      </div>

      <div class="container options-container">
        <h2>Options</h2>

        <form id="form-options-projects" action="/projects/option" method="POST" class="w-75 justify-content-between">
          <div class="row mb-3 justify-content-between" style="max-width: 310px;">
            <div class="col-auto">
              <p>Columns</p>
            </div>

            <div class="col-auto">
              <div class="row mb-3 align-items-center justify-content-between">
                <div class="col-auto">
                  <input type="checkbox" class="form-check-input" id="projectidcolumn" name="projectidcolumn" <%= config.projectidcolumn ? "checked" : "" %>>
                  <label class="form-check-label" for="projectidcolumn">ID</label>
                </div>
              </div>

              <div class="row mb-3 align-items-center justify-content-between">
                <div class="col-auto">
                  <input type="checkbox" class="form-check-input" id="namecolumn" name="namecolumn" <%= config.namecolumn ? "checked" : "" %>>
                  <label class=" form-check-label" for="namecolumn">Name</label>
                </div>
              </div>

              <div class="row mb-3 align-items-center justify-content-between">
                <div class="col-auto">
                  <input type="checkbox" class="form-check-input" id="membercolumn" name="membercolumn" <%= config.membercolumn ? "checked" : "" %>>
                  <label class=" form-check-label" for="membercolumn">Members</label>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn-primary" type="submit">Apply</button>
        </form>
      </div>

      <div class="container table-container mt-3">
        <table id="table-pms" class="table table-striped table-hover">
          <thead>
            <tr>
              <% if (config.projectidcolumn) { %>
              <th onclick="sortTable('projectid', '<%= sort %>', '<%= order %>', '<%= stringParam %>', '<%= pagination.currentPage %>')">#<i class="fa fa-sort"></i></th>

              <% } %>
              <% if (config.namecolumn) { %>
              <th onclick="location.href=`/projects?sort=name&order=<%= order %>`">Name<i class="fa fa-sort" style="font-size:12px;"></i></th>
              <% } %>
              <% if (config.membercolumn) { %>
              <th onclick="location.href=`/projects?sort=member&order=<%= order %>`">Members<i class="fa fa-sort" style="font-size:12px;"></i></th>
              <% } %>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <% for( let i = 0; i < data.length; i++ ) { %>

            <tr>
              <% if (config.projectidcolumn) { %>
              <td>
                <a href="/projects/<%= data[i].projectid %>/overview"><%= data[i].projectid %></a>
              </td>
              <% } %>

              <% if (config.namecolumn) { %>
              <td><%= data[i].name %></td>
              <% } %>

              <% if (config.membercolumn) { %>
              <td><%= data[i].member %></td>
              <% } %>

              <td>
                <a href="/projects/edit/<%= data[i].projectid %>" class="btn btn-success" role="button">Edit</a>
                <% if (userrole == "admin") { %>

                <a href="/projects/delete/<%= data[i].projectid %>" class="btn btn-danger btn-delete" role="button">Delete</a>

                <% } %>
              </td>
            </tr>

            <% } %>
          </tbody>
        </table>

        <nav aria-label="...">
          <ul id="pagination-projects" class="pagination">

            <li class="page-item <%= pagination.currentPage == 1 || !pagination.currentPage ? "disabled" : "" %>">
              <a href="<%= "/projects" + queryPage + (pagination.currentPage-1) %>" class="page-link">Previous</a>
            </li>

            <% for (let i = 1; i <= pagination.totalPage; i++) { %>

            <li class="page-item <%= pagination.currentPage == i ? "active" : "" %>" aria-current="page">
              <a data-page="<%= i %>" data-param="<%= stringParam %>" class="changepage page-link" href="<%= stringParam %>"><%= i %></a>
            </li>

            <% } %>

            <li class="page-item <%= pagination.currentPage == pagination.totalPage ? "disabled" : "" %>">
              <a data-page="<%= i + 1 %>" href="<%= "/projects" + queryPage + (pagination.currentPage+1) %>" class="page-link">Next</a>
            </li>

          </ul>
        </nav>

        <a href="/projects/add" class="btn btn-primary" role="button">Add</a>
      </div>
    </div>
  </div>

  <script>
    $("#btn-reset").click(function(event) {
      event.preventDefault()
      window.location.href = "/projects"
    })

    function sortTable(sort, prevSort, order, stringParam, pageNext) {
      if (sort == prevSort) {
        switch (order) {
          case "asc":
            order = "desc"
            break;
          case "desc":
            order = ""
            break;
          default:
            order = "asc"
            break;
        }
      } else {
        order = "asc"
      }

      let filterParams = stringParam === 'undefined' ? "" : stringParam
      let filterArr = filterParams.split("&")
      let filteredParam = filterArr.filter(filterElement => {
        return (!filterElement.startsWith("page") && !filterElement.startsWith("sort") && !filterElement.startsWith("order"))
      });
      filterParams = filteredParam.join("&");
      filterParams = filterParams ? "?" + filterParams : ""

      let filter = `${filterParams ? filterParams : ""}`
      let page = `${pageNext ? "&page=" + pageNext : ""}`
      let sortBy = `${sort ? "&sort=" + sort : ""}`
      let sortOrder = `${order ? "&order=" + order : ""}`

      let allQueryParams = filter + page + sortBy + sortOrder
      allQueryParams = allQueryParams.replace(/\?/g, "&")
      allQueryParams = allQueryParams.replace("&", "?")

      let url = `http://localhost:3000/projects${allQueryParams}`

      return location.href = url;
    }

    $(document).on('click', '.page-link', function(event) {
      event.preventDefault()
      const pageNext = $(this).attr('data-page')
      changePage(pageNext)
    })

    function changePage(pageNext) {
      var stringParam = $(".changepage").attr('data-param')

      console.log("1stringParam:", stringParam);

      let filterParams = stringParam === 'undefined' ? "" : stringParam
      let filterArr = filterParams.split("&")
      let filteredParam = filterArr.filter(filterElement => {
        return (!filterElement.startsWith("page"))
      });
      filterParams = filteredParam.join("&");
      filterParams = filterParams ? "?" + filterParams : ""

      let param = {
        pageNext,
        filter: filterParams
      }
      let filter = `${filterParams ? filterParams : ""}`
      let page = `${pageNext ? "&page=" + pageNext : ""}`

      let allQueryParams = filter + page
      allQueryParams = allQueryParams.replace(/\?/g, "&")
      allQueryParams = allQueryParams.replace("&", "?")

      let url = `http://localhost:3000/projects${allQueryParams}`
      location.href = url;
      return false
    }
  </script>

</body>

<%- include("../partials/footer") -%>