<%- include("../partials/header") -%>
<style>
  a {
    text-decoration: none;
  }
</style>
</head>

<body>
  <%- include("../partials/navbar") -%>

  <div class="container mt-2">
    <div class="container users-container">
      <h1>Users</h1>
      <hr>

      <div class="container filters-container">
        <h2>Filters</h2>

        <form id="form-filter-users" action="" method="get" class="m-auto mb-3" style="max-width: 500px;">
          <input type="hidden" value="1" id="page" name="page" class="form-control">

          <div class="row mb-3 align-items-center justify-content-between">
            <div class="col-auto">
              <input <%= queryParamObj.useridcheck && "checked" %> type="checkbox" class="form-check-input" id="useridcheck" name="useridcheck">
              <label class="form-check-label" for="useridcheck">ID</label>
            </div>
            <div class="col-auto w-75">
              <input value="<%= queryParamObj.userid %>" type="text" id="userid" name="userid" class="form-control" placeholder="ID">
            </div>
          </div>

          <div class="row mb-3 align-items-center justify-content-between">
            <div class="col-auto">
              <input <%= queryParamObj.firstnamecheck && "checked" %> type="checkbox" class="form-check-input" id="firstnamecheck" name="firstnamecheck">
              <label class="form-check-label" for="firstnamecheck">First Name</label>
            </div>
            <div class="col-auto w-75">
              <input value="<%= queryParamObj.firstname %>" type="text" id="firstname" name="firstname" class="form-control" placeholder="First Name">
            </div>
          </div>

          <div class="row mb-3 align-items-center justify-content-between">
            <div class="col-auto">
              <input <%= queryParamObj.lastnamecheck && "checked" %> type="checkbox" class="form-check-input" id="lastnamecheck" name="lastnamecheck">
              <label class="form-check-label" for="lastnamecheck">Last Name</label>
            </div>
            <div class="col-auto w-75">
              <input value="<%= queryParamObj.lastname %>" type="text" id="lastname" name="lastname" class="form-control" placeholder="Last Name">
            </div>
          </div>

          <div class="row mb-3 align-items-center justify-content-between">
            <div class="col-auto">
              <input <%= queryParamObj.rolecheck && "checked" %> type="checkbox" class="form-check-input" id="rolecheck" name="rolecheck">
              <label class="form-check-label" for="rolecheck">Role</label>
            </div>
            <div class="col-auto w-75">
              <select id="role" name="role" class="form-select" aria-label="Default select example">
                <option value="" disabled selected hidden>Choose the role ...</option>
                <option <%= queryParamObj.role == "admin" && "selected" %> value="admin">Admin</option>
                <option <%= queryParamObj.role == "user" && "selected" %> value="user">User</option>
              </select>
            </div>
          </div>

          <div class="row mb-3 align-items-center justify-content-between">
            <div class="col-auto">
              <input <%= queryParamObj.positioncheck && "checked" %> type="checkbox" class="form-check-input" id="positioncheck" name="positioncheck">
              <label class="form-check-label" for="positioncheck">Position</label>
            </div>
            <div class="col-auto w-75">
              <select id="position" name="position" class="form-select" aria-label="Default select example">
                <option value="" disabled selected hidden>Choose the position ...</option>
                <option <%= queryParamObj.position == "Manager" && "selected" %> value="Manager">Manager</option>
                <option <%= queryParamObj.position == "programmer" && "selected" %> value="Programmer">Software Developer</option>
                <option <%= queryParamObj.position == "Quality Assurance" && "selected" %> value="Quality Assurance">Quality Assurance</option>
              </select>
            </div>
          </div>

          <button class="btn btn-primary" type="submit">Search</button>
          <button id="btn-reset" class="btn btn-secondary">Reset</button>
        </form>
      </div>

      <!-- Column Options -->
      <div class="container options-container">
        <h2>Options</h2>

        <form id="form-options-users" action="/users/option" method="POST" class="w-50 justify-content-between">
          <div class="mb-3 d-flex">
            <div class="col-auto" style="margin-right: 100px;">
              <p>Columns</p>
            </div>

            <div class="columnoption-container d-flex w-100 flex-wrap flex-column" style="max-height: 120px;">
              <div style="width: 100px;" class="d-flex mb-3 align-items-center">
                <div class="col-auto">
                  <input type="checkbox" class="form-check-input" id="useridcolumn" name="useridcolumn" <%= config.useridcolumn ? "checked" : "" %>>
                  <label class="form-check-label" for="useridcolumn">ID</label>
                </div>
              </div>

              <div style="width: 100px;" class="d-flex mb-3 align-items-center justify-content-between">
                <div class="col-auto">
                  <input type="checkbox" class="form-check-input" id="firstnamecolumn" name="firstnamecolumn" <%= config.firstnamecolumn ? "checked" : "" %>>
                  <label class=" form-check-label" for="firstnamecolumn">First Name</label>
                </div>
              </div>

              <div style="width: 100px;" class="d-flex mb-3 align-items-center justify-content-between">
                <div class="col-auto">
                  <input type="checkbox" class="form-check-input" id="lastnamecolumn" name="lastnamecolumn" <%= config.lastnamecolumn ? "checked" : "" %>>
                  <label class=" form-check-label" for="lastnamecolumn">Last Name</label>
                </div>
              </div>

              <div style="width: 100px;" class="d-flex mb-3 align-items-center justify-content-between">
                <div class="col-auto">
                  <input type="checkbox" class="form-check-input" id="emailcolumn" name="emailcolumn" <%= config.emailcolumn ? "checked" : "" %>>
                  <label class=" form-check-label" for="emailcolumn">Email</label>
                </div>
              </div>

              <div style="width: 100px;" class="d-flex mb-3 align-items-center justify-content-between">
                <div class="col-auto">
                  <input type="checkbox" class="form-check-input" id="rolecolumn" name="rolecolumn" <%= config.rolecolumn ? "checked" : "" %>>
                  <label class=" form-check-label" for="rolecolumn">Role</label>
                </div>
              </div>

              <div style="width: 100px;" class="d-flex mb-3 align-items-center justify-content-between">
                <div class="col-auto">
                  <input type="checkbox" class="form-check-input" id="positioncolumn" name="positioncolumn" <%= config.positioncolumn ? "checked" : "" %>>
                  <label class=" form-check-label" for="positioncolumn">Position</label>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn-primary" type="submit">Apply</button>
        </form>
      </div>

      <!-- Table -->
      <div class="container table-container mt-3">
        <table id="table-pms" class="table table-striped table-hover">
          <thead>
            <tr>
              <% if (config.useridcolumn) { %>
              <th>#</th>
              <% } %>
              <% if (config.firstnamecolumn) { %>
              <th>First Name</th>
              <% } %>
              <% if (config.lastnamecolumn) { %>
              <th>Last Name</th>
              <% } %>
              <% if (config.emailcolumn) { %>
              <th>Email</th>
              <% } %>
              <% if (config.rolecolumn) { %>
              <th>Role</th>
              <% } %>
              <% if (config.positioncolumn) { %>
              <th>Position</th>
              <% } %>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <% for( let i = 0; i < data.length; i++ ) { %>
            <tr>
              <% if (config.useridcolumn) { %>
              <td>
                <a href="/users/<%= data[i].userid %>/overview"><%= data[i].userid %></a>
              </td>
              <% } %>
              <% if (config.firstnamecolumn) { %>
              <td><%= data[i].firstname %></td>
              <% } %>
              <% if (config.lastnamecolumn) { %>
              <td><%= data[i].lastname %></td>
              <% } %>
              <% if (config.emailcolumn) { %>
              <td><%= data[i].email %></td>
              <% } %>
              <% if (config.rolecolumn) { %>
              <td><%= data[i].role %></td>
              <% } %>
              <% if (config.positioncolumn) { %>
              <td><%= data[i].position == "Programmer" ? "Software Developer" : data[i].position %></td>
              <% } %>

              <td>
                <a href="/users/edit/<%= data[i].userid %>" class="btn btn-success" role="button">Edit</a>
                <a href="/users/delete/<%= data[i].userid %>" class="btn btn-danger btn-delete" role="button">Delete</a>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>

        <nav aria-label="...">
          <ul id="pagination-pms-users" class="pagination">

            <li class="page-item <%= pagination.currentPage == 1 || !pagination.currentPage ? "disabled" : "" %>">
              <a href="<%= "/users" + queryPage + (pagination.currentPage-1) %>" class="page-link">Previous</a>
            </li>

            <% for (let i = 1; i <= pagination.totalPage; i++) { %>

            <li class="page-item <%= pagination.currentPage == i ? "active" : "" %>" aria-current="page">
              <a id="changepage" class="page-link" href="<%= "/users" + queryPage + i  %>"><%= i %></a>
            </li>

            <% } %>

            <li class="page-item <%= pagination.currentPage == pagination.totalPage ? "disabled" : "" %>">
              <a href="<%= "/users" + queryPage + (pagination.currentPage+1) %>" class="page-link">Next</a>
            </li>

          </ul>
        </nav>

        <a href="/users/add" class="btn btn-primary mb-3" role="button">Add</a>
      </div>
    </div>
  </div>

  <script>
    $("#btn-reset").click(function(event) {
      event.preventDefault()
      window.location.href = "/users"
    })
  </script>
</body>

<%- include("../partials/footer") -%>