<%- include("../../partials/header") -%>

<%- include("../../partials/sidebar-style") -%>
</head>

<body style="overflow: hidden;">
  <%- include("../../partials/navbar") -%>

  <div class="container p-0" style="max-width: none;">
    <div class="d-flex" style="height: 100vh;">
      <%- include("../../partials/sidebar") -%>

      <div style="overflow: auto;" class="pt-3 tab-content w-100" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-issues" role="tabpanel" aria-labelledby="v-pills-issues-tab">
          <div class="container ps-0" style="max-width: none;">
            <h1>New Issue</h1>
            <hr>

            <div class="border rounded p-3" style="max-width: 1200px; margin-bottom: 75px;">
              <form enctype="multipart/form-data" id="form-add-issue" action="" method="POST" class="m-3">
                <div class="row mb-3 align-items-center justify-content-between">
                  <div class="col-auto align-self-start">
                    <label class="form-check-label" for="tracker">Tracker</label>
                  </div>
                  <div class="col-auto w-75">
                    <div class="row mb-1 align-items-center justify-content-between">
                      <div class="col-auto">
                        <input type="radio" class="form-check-input" value="bug" id="bug" name="tracker">
                        <label class="form-check-label" for="bug">Bug</label>
                      </div>
                    </div>

                    <div class="row mb-1 align-items-center justify-content-between">
                      <div class="col-auto">
                        <input type="radio" class="form-check-input" value="feature" id="feature" name="tracker">
                        <label class="form-check-label" for="feature">Feature</label>
                      </div>
                    </div>

                    <div class="row mb-1 align-items-center justify-content-between">
                      <div class="col-auto">
                        <input type="radio" class="form-check-input" value="support" id="support" name="tracker">
                        <label class="form-check-label" for="support">Support</label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row mb-3 align-items-center justify-content-between">
                  <div class="col-auto">
                    <label class="form-check-label" for="subject">Subject</label>
                  </div>
                  <div class="col-auto w-75">
                    <input required type="text" id="subject" name="subject" class="form-control" placeholder="Subject">
                  </div>
                </div>

                <div class="row mb-3 align-items-center justify-content-between">
                  <div class="col-auto align-self-start pt-1">
                    <label class="form-check-label" for="description">Description</label>
                  </div>
                  <div class="col-auto w-75">
                    <textarea form="form-add-issue" id="description" name="description" class="form-control" placeholder="Description" cols="35" rows="3"></textarea>
                  </div>
                </div>

                <div class="row mb-3 align-items-center justify-content-between">
                  <div class="col-auto align-self-start">
                    <label class="form-check-label" for="status">Status</label>
                  </div>
                  <div class="col-auto w-75">
                    <div class="row mb-1 align-items-center justify-content-between">
                      <div class="col-auto">
                        <input type="radio" class="form-check-input" value="New" id="New" name="status">
                        <label class="form-check-label" for="New">New</label>
                      </div>
                    </div>

                    <div class="row mb-1 align-items-center justify-content-between">
                      <div class="col-auto">
                        <input type="radio" class="form-check-input" id="In value" id="In Progress" name="status">
                        <label class="form-check-label" for="In Progress">In Progress</label>
                      </div>
                    </div>

                    <div class="row mb-1 align-items-center justify-content-between">
                      <div class="col-auto">
                        <input type="radio" class="form-check-input" value="Resolved" id="Resolved" name="status">
                        <label class="form-check-label" for="Resolved">Resolved</label>
                      </div>
                    </div>

                    <div class="row mb-1 align-items-center justify-content-between">
                      <div class="col-auto">
                        <input type="radio" class="form-check-input" value="Feedback" id="Feedback" name="status">
                        <label class="form-check-label" for="Feedback">Feedback</label>
                      </div>
                    </div>

                    <div class="row mb-1 align-items-center justify-content-between">
                      <div class="col-auto">
                        <input type="radio" class="form-check-input" value="Closed" id="Closed" name="status">
                        <label class="form-check-label" for="Closed">Closed</label>
                      </div>
                    </div>

                    <div class="row mb-1 align-items-center justify-content-between">
                      <div class="col-auto">
                        <input type="radio" class="form-check-input" value="Rejected" id="Rejected" name="status">
                        <label class="form-check-label" for="Rejected">Rejected</label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row mb-3 align-items-center justify-content-between">
                  <div class="col-auto align-self-start">
                    <label class="form-check-label" for="priority">Priority</label>
                  </div>
                  <div class="col-auto w-75">
                    <div class="row mb-1 align-items-center justify-content-between">
                      <div class="col-auto">
                        <input type="radio" class="form-check-input" value="normal" id="normal" name="priority">
                        <label class="form-check-label" for="normal">Normal</label>
                      </div>
                    </div>

                    <div class="row mb-1 align-items-center justify-content-between">
                      <div class="col-auto">
                        <input type="radio" class="form-check-input" value="high" id="high" name="priority">
                        <label class="form-check-label" for="high">High</label>
                      </div>
                    </div>

                    <div class="row mb-1 align-items-center justify-content-between">
                      <div class="col-auto">
                        <input type="radio" class="form-check-input" value="urgent" id="urgent" name="priority">
                        <label class="form-check-label" for="urgent">Urgent</label>
                      </div>
                    </div>

                    <div class="row mb-1 align-items-center justify-content-between">
                      <div class="col-auto">
                        <input type="radio" class="form-check-input" value="immediate" id="immediate" name="priority">
                        <label class="form-check-label" for="immediate">Immediate</label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row mb-3 align-items-center justify-content-between">
                  <div class="col-auto">
                    <label class="form-check-label" for="assignee">Assignee</label>
                  </div>
                  <div class="col-auto w-75">
                    <select id="assignee" name="assignee" class="form-select" aria-label="Default select example">
                      <option value="" disabled selected hidden>Choose the assignee ...</option>
                      <% for( let i = 0; i < assigneeOptions.length; i++ ) { %>

                      <option value="<%= assigneeOptions[i].userid %>"><%= assigneeOptions[i].firstname %></option>

                      <% } %>
                    </select>
                  </div>
                </div>

                <div class="row mb-3 align-items-center justify-content-between">
                  <div class="col-auto">
                    <label class="form-check-label" for="startdate">Start Date</label>
                  </div>
                  <div class="col-auto w-75">
                    <input type="date" id="startdate" name="startdate" class="form-control" placeholder="Start Date">
                  </div>
                </div>

                <div class="row mb-3 align-items-center justify-content-between">
                  <div class="col-auto">
                    <label class="form-check-label" for="duedate">Due Date</label>
                  </div>
                  <div class="col-auto w-75">
                    <input type="date" id="duedate" name="duedate" class="form-control" placeholder="Due Date">
                  </div>
                </div>

                <div class="row mb-3 align-items-center justify-content-between">
                  <div class="col-auto">
                    <label class="form-check-label" for="estimatedtime">Estimated Time</label>
                  </div>
                  <div class="col-auto w-75">
                    <input type="number" step="any" id="estimatedtime" name="estimatedtime" class="form-control" placeholder="Estimated Time">
                  </div>
                </div>

                <div class="row mb-3 align-items-center justify-content-between">
                  <div class="col-auto">
                    <label class="form-check-label" for="done">% done</label>
                  </div>
                  <div class="col-auto w-75">
                    <!-- <input type="number" value="0" min="0" max="100" id="done" name="done" class="form-control" placeholder="% done"> -->
                    <select id="done" name="done" class="form-select" aria-label="Default select example">
                      <option value="0" selected>0</option>
                      <% for( let i = 10; i <= 100; i+=10 ) { %>
                      <option value="<%= i %>"><%= i %></option>
                      <% } %>
                    </select>

                  </div>
                </div>

                <div class="row mb-3 align-items-center justify-content-between">
                  <div class="col-auto align-self-start pt-2">
                    <label class="form-check-label" for="files0">Files</label>
                  </div>
                  <div class="col-auto w-75">
                    <div class="col-auto mb-3 d-flex file-input">
                      <input type="file" data-id="0" id="files0" name="files0" class="form-control file-preview" placeholder="Files">
                      <button id="delete-file-input" hidden type="button" class="btn btn-outline-danger ms-3">-</button>
                    </div>
                    <button id="add-file-form" type="button" class="btn btn-outline-primary">+</button>
                  </div>
                </div>

                <button class="btn btn-primary" type="submit">Save</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      let countFileInput = 1
      $("#form-add-issue").on('click', '#add-file-form', function(event) {
        event.preventDefault()
        $('.file-input').last().after(`
          <div class="col-auto mb-3 d-flex file-input">
            <input type="file" data-id="${countFileInput}" id="files${countFileInput}" name="files${countFileInput}" class="form-control file-preview" placeholder="Files">
            <button id="delete-file-input" type="button" class="btn btn-outline-danger ms-3">-</button>
          </div>
        `)
        countFileInput++
      })

      $("#form-add-issue").on('click', '#delete-file-input', function(event) {
        event.preventDefault()

        let idFile = $(this).parent().prev().attr('data-id')
        let firstInput = $(this).prev().attr('data-id')

        if (idFile == "img-preview") {
          $(this).parent().prev().remove();
          if (firstInput == "0") {
            $(this).prev().val("")
            $('#delete-file-input').attr('hidden', true)
          } else {
            $(this).parent().remove();
          }
        } else {
          $(this).parent().remove();
        }
      })

      $('#form-add-issue').on('change', '.file-preview', function(event) {
        let tes = $(this).val().split(".")
        switch (tes.pop()) {
          case "jpg":
          case "png":
          case "svg":

            var reader = new FileReader();
            reader.onload = function() {
              $(`#img${idFile}`).attr("src", reader.result)
            }

            let idFile = $(this).attr('data-id')

            if (idFile == "0") {
              $('#delete-file-input').attr('hidden', false)
            }

            let idImgOne = $(this).parent().prev().attr('data-id')
            if (idImgOne == "img-preview") {
              $(this).parent().prev().html(`
                <div data-id="img-preview"><img id="img${idFile}" src="" alt="your image" class="mb-2" style="max-width:100px;" /></div>
              `)
            } else {
              $(this).parent().before(`
                <div data-id="img-preview"><img id="img${idFile}" src="" alt="your image" class="mb-2" style="max-width:100px;" /></div>
              `)
            }
            reader.readAsDataURL(event.target.files[0]);
            break;
          default:
            break;
        }
      })
    </script>
  </div>
</body>

<%- include("../../partials/footer") -%>