<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Data</title>
  <link rel="stylesheet" href="/css/add.css">
</head>

<body>
  <h1>Edit Data</h1>
  <div class="container">
    <form action="" method="post">
      <div class="container__row">
        <div class="container__row__label">
          <label for="string">ID</label>
        </div>
        <div class="container__row__input">
          <input disabled type="number" name="id" value="<%= obj.id %>" placeholder="String">
        </div>
      </div>
      <div class="container__row">
        <div class="container__row__label">
          <label for="string">String</label>
        </div>
        <div class="container__row__input">
          <input type="text" name="string" value="<%= obj.string %>" placeholder="String">
        </div>
      </div>
      <div class="container__row">
        <div class="container__row__label">
          <label for="integer">Integer</label>
        </div>
        <div class="container__row__input">
          <input type="number" name="integer" value="<%= obj.integer %>" placeholder="Integer">
        </div>
      </div>
      <div class="container__row">
        <div class="container__row__label">
          <label for="float">Float</label>
        </div>
        <div class="container__row__input">
          <input type="number" step="any" name="float" value="<%= obj.float %>" placeholder="Float">
        </div>
      </div>
      <div class="container__row">
        <div class="container__row__label">
          <label for="date">Date</label>
        </div>
        <div class="container__row__input">
          <input type="date" name="date" value="<%= obj.date %>" placeholder="end date">
        </div>
      </div>
      <div class="container__row">
        <div class="container__row__label">
          <label for="boolean">Boolean</label>
        </div>
        <div class="container__row__input">
          <select name="boolean" id="boolean">
            <option value="true" <%= obj.boolean ? "selected" : "" %>>True</option>
            <option value="false" <%= !obj.boolean ? "selected" : "" %>>False</option>
          </select>
        </div>
      </div>
      <div class="container__row">
        <button type="submit" class="container__row__button">Save</button>
      </div>
    </form>
  </div>
</body>

</html>