<%- include('partials/header') -%>

<a class="btn btn-primary" href="/add"><i class="fas fa-plus"></i> Add</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><a href="<%= pagination.url.replace(`sortBy=${query.sortBy}&sortMode=${query.sortMode}`, `sortBy=string&sortMode=${query.sortMode == 'asc' ? 'desc' : 'asc'}`) %>"><i class="fas fa-<%= query.sortBy == 'string' ? (query.sortMode == 'asc' ? 'sort-up' : 'sort-down') : 'sort' %>"></i> String</a></th>
      <th><a href="<%= pagination.url.replace(`sortBy=${query.sortBy}&sortMode=${query.sortMode}`, `sortBy=integer&sortMode=${query.sortMode == 'asc' ? 'desc' : 'asc'}`) %>"><i class="fas fa-<%= query.sortBy == 'integer' ? (query.sortMode == 'asc' ? 'sort-up' : 'sort-down') : 'sort' %>"></i> Integer</a></th>
      <th><a href="<%= pagination.url.replace(`sortBy=${query.sortBy}&sortMode=${query.sortMode}`, `sortBy=float&sortMode=${query.sortMode == 'asc' ? 'desc' : 'asc'}`) %>"><i class="fas fa-<%= query.sortBy == 'float' ? (query.sortMode == 'asc' ? 'sort-up' : 'sort-down') : 'sort' %>"></i> Float</a></th>
      <th><a href="<%= pagination.url.replace(`sortBy=${query.sortBy}&sortMode=${query.sortMode}`, `sortBy=date&sortMode=${query.sortMode == 'asc' ? 'desc' : 'asc'}`) %>"><i class="fas fa-<%= query.sortBy == 'date' ? (query.sortMode == 'asc' ? 'sort-up' : 'sort-down') : 'sort' %>"></i> Date</a></th>
      <th><a href="<%= pagination.url.replace(`sortBy=${query.sortBy}&sortMode=${query.sortMode}`, `sortBy=boolean&sortMode=${query.sortMode == 'asc' ? 'desc' : 'asc'}`) %>"><i class="fas fa-<%= query.sortBy == 'boolean' ? (query.sortMode == 'asc' ? 'sort-up' : 'sort-down') : 'sort' %>"></i> Boolean</a></th>
      <th>actions</th>
    </tr>
  </thead>
  <tbody>
    <% data.forEach((item, index) => { %>
    <tr>
      <td><%= item.id %></td>
      <td><%= item.string %></td>
      <td><%= item.integer %></td>
      <td><%= item.float %></td>
      <td><%= item.date ? moment(item.date).format('LL') : 'kosong' %></td>
      <td><%= item.boolean %></td>
      <td>
        <a class="btn btn-success" href="/edit/<%= item.id %>"><i class="fas fa-edit"></i></a>
        <a class="btn btn-danger" href="/delete/<%= item.id %>"><i class="fas fa-trash"></i></a>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
<nav aria-label="Page navigation">
  <ul class="pagination">
    <li class="page-item<%=pagination.page == 1 ? ' disabled' : '' %>">
      <a class="page-link" href="/?page=<%= pagination.page - 1 %>" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

    <% for( let i=1; i <=pagination.pages; i++ ) { %>
    <li class="page-item<%=pagination.page==i ? ' active' : '' %>"><a class="page-link" href="<%= pagination.url.replace(`page=${pagination.page}`, `page=${i}`) %>">
        <%= i %>
      </a></li>
    <% } %>

    <li class="page-item<%=pagination.page == pagination.pages ? ' disabled' : '' %>">
      <a class="page-link" href="/?page=<%= pagination.page + 1 %>" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

<%- include('partials/footer') -%>