<%- include('partials/header') -%>

<h1>BREADS (Browse, Read, Edit, Add, Delete, Sort)</h1>
<form action="" method="get">
  <input type="hidden" name="page" value="1" />
  <input type="hidden" name="sortBy" value="id" />
  <input type="hidden" name="sortMode" value="asc" />
  <div class="card mb-2">
    <div class="card-header">
      <h2>Filters</h2>
    </div>
    <div class="card-body">
      <div class="mb-3 row">
        <div class="col-sm-2 d-flex align-items-center">
          <input class="form-check-input mt-0" type="checkbox" id="idcheck" name="idcheck" <%= query.idcheck && 'on' ? 'checked' : '' %>>
          <label for="idcheck" class="col-form-label">ID</label>
        </div>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="id" name="id" value="<%= query.id %>" placeholder="ID">
        </div>
      </div>

      <div class="mb-3 row">
        <div class="col-sm-2 d-flex align-items-center">
          <input class="form-check-input mt-0" type="checkbox" id="stringcheck" name="stringcheck" <%= query.stringcheck && 'on' ? 'checked' : '' %>>
          <label for="stringcheck" class="col-form-label">String</label>
        </div>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="string" name="string" value="<%= query.string %>" placeholder="String">
        </div>
      </div>

      <div class="mb-3 row">
        <div class="col-sm-2 d-flex align-items-center">
          <input class="form-check-input mt-0" type="checkbox" id="integercheck" name="integercheck" <%= query.integercheck && 'on' ? 'checked' : '' %>>
          <label for="integercheck" class="col-form-label">Integer</label>
        </div>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="integer" name="integer" value="<%= query.integer %>" placeholder="Integer">
        </div>
      </div>

      <div class="mb-3 row">
        <div class="col-sm-2 d-flex align-items-center">
          <input class="form-check-input mt-0" type="checkbox" id="floatcheck" name="floatcheck" <%= query.floatcheck && 'on' ? 'checked' : '' %>>
          <label for="floatcheck" class="col-form-label">Float</label>
        </div>

        <div class="col-sm-10">
          <input type="text" class="form-control" id="float" name="float" value="<%= query.float %>" placeholder="Float">
        </div>
      </div>

      <div class="mb-3 row">
        <div class="col-sm-2 d-flex align-items-center">
          <input class="form-check-input mt-0" type="checkbox" id="datecheck" name="datecheck" <%= query.datecheck && 'on' ? 'checked' : '' %>>
          <label for="datecheck" class="col-form-label">Date</label>
        </div>

        <div class="col-sm-10">
          <div class="row">
            <div class="col-sm-5">
              <input type="date" class="form-control" id="startdate" name="startdate" value="<%= query.startdate ? moment(query.startdate).format("YYYY-MM-DD") : "" %>">
            </div>
            <span class="col-sm-2 d-flex justify-content-center align-items-center">to</span>
            <div class="col-sm-5">
              <input type="date" class="form-control" id="enddate" name="enddate" value="<%= query.enddate ? moment(query.enddate).format("YYYY-MM-DD") : "" %>">
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3 row">
        <div class="col-sm-2 d-flex align-items-center">
          <input class="form-check-input mt-0" type="checkbox" id="booleancheck" name="booleancheck" <%= query.booleancheck && 'on' ? 'checked' : '' %>>
          <label for="booleancheck" class="col-form-label">Boolean</label>
        </div>

        <div class="col-sm-10">
          <select name="boolean" id="boolean" class="form-control">
            <option value="">Choose the boolean ...</option>
            <option value="false" <%=query.boolean == "false" ? "selected" : "" %>>False</option>
            <option value="true" <%=query.boolean == "true" ? "selected" : "" %>>True</option>
          </select>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-success"><i class="fas fa-search"></i> Search</button>
      <a href="/" class="btn btn-warning"><i class="fas fa-sync"></i> Reset</a>
    </div>
  </div>
</form>

<a class="btn btn-primary" href="/add"><i class="fas fa-plus"></i> Add</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th><a class="link-dark text-decoration-none" href="<%= pagination.url.replace(`sortBy=${query.sortBy}&sortMode=${query.sortMode}`, `sortBy=id&sortMode=${query.sortMode == "asc" ? "desc" : "asc"}`) %>"><i class="fas fa-<%= query.sortBy == "id" ? (query.sortMode == "asc" ? "sort-up" : "sort-down") : "sort" %>"></i> ID</a></th>
      <th><a class="link-dark text-decoration-none" href="<%= pagination.url.replace(`sortBy=${query.sortBy}&sortMode=${query.sortMode}`, `sortBy=string&sortMode=${query.sortMode == "asc" ? "desc" : "asc"}`) %>"><i class="fas fa-<%= query.sortBy == "string" ? (query.sortMode == "asc" ? "sort-up" : "sort-down") : "sort" %>"></i> String</a></th>
      <th><a class="link-dark text-decoration-none" href="<%= pagination.url.replace(`sortBy=${query.sortBy}&sortMode=${query.sortMode}`, `sortBy=integer&sortMode=${query.sortMode == "asc" ? "desc" : "asc"}`) %>"><i class="fas fa-<%= query.sortBy == "integer" ? (query.sortMode == "asc" ? "sort-up" : "sort-down") : "sort" %>"></i> Integer</a></th>
      <th><a class="link-dark text-decoration-none" href="<%= pagination.url.replace(`sortBy=${query.sortBy}&sortMode=${query.sortMode}`, `sortBy=float&sortMode=${query.sortMode == "asc" ? "desc" : "asc"}`) %>"><i class="fas fa-<%= query.sortBy == "float" ? (query.sortMode == "asc" ? "sort-up" : "sort-down") : "sort" %>"></i> Float</a></th>
      <th><a class="link-dark text-decoration-none" href="<%= pagination.url.replace(`sortBy=${query.sortBy}&sortMode=${query.sortMode}`, `sortBy=date&sortMode=${query.sortMode == "asc" ? "desc" : "asc"}`) %>"><i class="fas fa-<%= query.sortBy == "date" ? (query.sortMode == "asc" ? "sort-up" : "sort-down") : "sort" %>"></i> Date</a></th>
      <th><a class="link-dark text-decoration-none" href="<%= pagination.url.replace(`sortBy=${query.sortBy}&sortMode=${query.sortMode}`, `sortBy=boolean&sortMode=${query.sortMode == "asc" ? "desc" : "asc"}`) %>"><i class="fas fa-<%= query.sortBy == "boolean" ? (query.sortMode == "asc" ? "sort-up" : "sort-down") : "sort" %>"></i> Boolean</a></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% data.forEach(item => { %>
    <tr>
      <td><%= item.id  %></td>
      <td><%= item.string %></td>
      <td><%= item.integer %></td>
      <td><%= item.float %></td>
      <td><%= item.date ? moment(item.date).format("LL") : "kosong" %></td>
      <td><%= item.boolean %></td>
      <td>
        <a class="btn btn-success" href="/edit/<%= item.id %>"><i class="fas fa-edit"></i></a>
        <a class="btn btn-danger" href="/delete/<%= item.id %>"><i class="fas fa-trash"></i></a>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
<nav aria-label="Page navigation">
  <ul class="pagination">
    <li class="page-item<%=pagination.page == 1 ? ' disabled' : '' %>">
      <a class="page-link" href="/?page=<%= pagination.page - 1 %>" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

    <% for( let i=1; i <=pagination.pages; i++ ) { %>
    <li class="page-item<%=pagination.page==i ? ' active' : '' %>"><a class="page-link" href="<%= pagination.url.replace(`page=${pagination.page}`, `page=${i}`) %>">
        <%= i %>
      </a></li>
    <% } %>

    <li class="page-item<%=pagination.page == pagination.pages ? ' disabled' : '' %>">
      <a class="page-link" href="/?page=<%= pagination.page + 1 %>" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

<%- include('partials/footer') -%>