<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> </title>
  <link rel="stylesheet" href="/stylesheets/watch.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
  <input type="hidden" id="videoid" value="<%= videoid %>" />
  <input type="hidden" id="userId" value="<%= userId %>" />

  <div class="watch-container">
    <div class="header">
      <div class="header__left">
        <img class="header__left__menu" src="/images/menu.svg" alt="Sidebar Menu">
        <a class="header__left__logo" href="/">
          <img src="/images/fidyu-logo.svg" width="100" alt="Youtube Logo">
        </a>
      </div>

      <div class="header__search">
        <form class="header__search__form" action="">
          <input class="header__search__form__input" type="search" name="search" id="search" placeholder="Search">

          <button class="header__search__form__button">
            <img src="/images/magnify.svg" alt="">
          </button>
        </form>
      </div>

      <div class="header__icons">
        <div class="header__icons__channel">
          <!-- <img class="header__icons__channel__icon" src="https://unsplash.it/32/32/?gravity=center" alt=""> -->

          <% if (isLoggedIn) { %>

          <form action="/api/auth/logout" method="POST" class="d-flex">
            <button class="btn btn-outline-success header__icons__channel__icon btn-signout" type="submit">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <circle cx="12" cy="7" r="4" />
                <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
              </svg>

              SIGN OUT
            </button>
          </form>

          <!-- <img class="header__icons__channel__icon isLoggedIn" src="https://unsplash.it/32/32/?gravity=center" alt=""> -->

          <% } else { %>

          <a href="/login" class="header__icons__channel__icon isNotLoggedIn">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <circle cx="12" cy="7" r="4" />
              <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
            </svg>
            SIGN IN
          </a>

          <% } %>
        </div>
      </div>
    </div>

    <div class="main">
      <!-- main -->
      <div class="main__video">
        <div id="video-container" class="main__video__player">
          <!-- <video controls>
            <source src="https://www.youtube.com/watch?v=j2dRQcRwfS8&list=PLXHX25swM0h_BCLk6vLwQhrek7a-v56oC&index=24&ab_channel=FirandaAndirja" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
            Your browser does not support the video tag.
          </video> -->
          <!-- <iframe width="100%" height="100%" src="https://www.youtube.com/embed/j2dRQcRwfS8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        </div>

        <div id="video-metadata" class="main__video__metadata">
          <!-- RESTFUL API -->
        </div>

        <div id="video-description" class="main__video__description">
          <!-- RESTFUL API -->
        </div>

        <div class="main__video__comments">
          <div class="main__video__comments__filter">
            <span id="comment-count">27 Comments</span>

            <form class="main__video__comments__filter__form" action="" method="get">
              <img src="/images/tabler-icon-sort-descending.svg" alt="">
              <span>SORT BY</span>
            </form>
          </div>

          <div class="main__video__comments__rows__row">
            <img class="main__video__comments__rows__row__img" src="http://unsplash.it/38/38/?gravity=center" alt="">

            <form id="form-add-comment" action="/comments" method="post">
              <!-- <input type="hidden" id="videoid" value="<%= videoid %>" />
              <input type="hidden" id="userId" value="<%= userId %>" /> -->

              <input class="input-comment" type="text" name="comment" id="comment" placeholder="Add a public comment...">

              <div class="buttons">
                <button class="btn btn-cancel">CANCEL</button>
                <button class="btn btn-comment" type="submit">COMMENT</button>
              </div>
            </form>
          </div>

          <div id="video-comments" class="main__video__comments__rows">
            <!-- RESTFUL API -->
          </div>
        </div>
      </div>
    </div>

    <div class="main__other">
    </div>
  </div>

  <script>
    const videoid = Number($("#videoid").val())
    const userId = Number($("#userId").val())

    console.log("videoid:", videoid);
    console.log("userId:", userId);

    $(document).ready(function() {
      loadData()
    })

    $("#video-metadata").on("submit", "#form-add-like", function(event) {
      event.preventDefault()
      if (!userId) {
        window.location.href = "http://localhost:3000/login"
      } else {
        addLike()
      }
      return false
    })

    const addLike = () => {
      $.ajax({
        method: "PUT",
        url: `http://localhost:3000/api/videos/${videoid}/like`,
        data: {}
      }).done(function() {
        loadData()
      }).fail(function(err) {
        alert(err)
      })
    }

    $("#video-metadata").on("submit", "#form-add-dislike", function(event) {
      event.preventDefault()
      if (!userId) {
        window.location.href = "http://localhost:3000/login"
      } else {
        addDislike()
      }
      return false
    })

    const addDislike = () => {
      $.ajax({
        method: "PUT",
        url: `http://localhost:3000/api/videos/${videoid}/dislike`,
        data: {}
      }).done(function() {
        loadData()
      }).fail(function(err) {
        alert(err)
      })
    }

    $("#form-add-comment").submit(function(event) {
      event.preventDefault()
      addComment()
      return false
    })

    const addComment = () => {
      const comment = $("#comment").val()
      $("#comment").val("")
      const data = {
        content: comment,
        VideoId: videoid,
        UserId: userId
      }
      $.ajax({
        method: "POST",
        url: `http://localhost:3000/api/comments`,
        data
      }).done(function() {
        loadData()
      }).fail(function(err) {
        alert(err)
      })
    }

    $("#comment").focus(function(event) {
      if (!userId) {
        window.location.href = "http://localhost:3000/login"
      }
    })

    const loadData = (param) => {
      let url = `http://localhost:3000/api/videos/${videoid}`

      $.ajax({
        url
      }).done(function(video) {
        console.log(video);
        const options = {
          year: "numeric",
          month: "long",
          day: "numeric"
        }
        let newDate = new Date(video.createdAt)
        let formattedDate = newDate.toLocaleDateString("id-ID", options)

        let htmlVideo = ""
        htmlVideo += `
          <video controls autoplay>
            <source src="${video.url}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        `
        $('#video-container').html(htmlVideo)

        let htmlVideoMetadata = ""
        htmlVideoMetadata += `
          <h3 class="main__video__metadata__title">
            ${video.title}
          </h3>

          <div class="main__video__metadata__other">
            <div class="main__video__metadata__other__left">
              <span>${video.views} views</span>
              <span>&#9642;</span>
              <span>${formattedDate}</span>
            </div>

            <div class="main__video__metadata__other__right">
              <form id="form-add-like" action="/api/videos/${video.id}/like" method="POST">
                <button ${video.voters.includes(userId) ? "disabled" : ""} class="btn btn-like ${video.voters.includes(userId) ? "disabled" : ""}" type="submit">
                  <svg style="margin-right: 0.5rem;" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-thumb-up" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M7 11v8a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1v-7a1 1 0 0 1 1 -1h3a4 4 0 0 0 4 -4v-1a2 2 0 0 1 4 0v5h3a2 2 0 0 1 2 2l-1 5a2 3 0 0 1 -2 2h-7a3 3 0 0 1 -3 -3" />
                  </svg>
                  ${video.likes}
                </button>
              </form>

              <form id="form-add-dislike" action="/api/videos/${video.id}/dislike" method="POST">
                <button ${video.voters.includes(userId) ? "disabled" : ""} class="btn btn-dislike ${video.voters.includes(userId) ? "disabled" : ""}" type="submit">
                  <svg style="margin-right: 0.5rem;"  xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-thumb-down" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M7 13v-8a1 1 0 0 0 -1 -1h-2a1 1 0 0 0 -1 1v7a1 1 0 0 0 1 1h3a4 4 0 0 1 4 4v1a2 2 0 0 0 4 0v-5h3a2 2 0 0 0 2 -2l-1 -5a2 3 0 0 0 -2 -2h-7a3 3 0 0 0 -3 3" />
                  </svg>
                  ${video.dislikes}
                </button>
              </form>
            </div>
          </div>
        `
        $('#video-metadata').html(htmlVideoMetadata)

        let htmlVideoDescription = ""
        htmlVideoDescription += `
          <div class="main__video__description__channel">
            <img src="http://unsplash.it/38/38/?gravity=center" alt="">
          </div>

          <div class="main__video__description__texts">
            <h4>${video.User.firstName + " " + video.User.lastName}</h4>

            <p>${video.description ? video.description : ""}</p>
          </div>
        `
        $('#video-description').html(htmlVideoDescription)

        let htmlVideoComments = ""
        video.Comments.forEach(comment => {
          let newDate = new Date(comment.createdAt)
          let formattedDate = newDate.toLocaleDateString("id-ID", options)

          htmlVideoComments += `
            <div class="main__video__comments__rows__row">
              <img class="main__video__comments__rows__row__img" src="http://unsplash.it/38/38/?gravity=center" alt="">
  
              <div class="main__video__comments__rows__row__right">
                <div class="top">
                  <span style="font-weight: bold;">${comment.User ? comment.User.firstName + " " + comment.User.lastName : "anonymous"}</span>
                  <span style="color: rgba(0,0,0,0.6);">${formattedDate}</span>
                </div>
  
                <div class="comment">
                  ${comment.content}
                </div>
              </div>
            </div>
          `
        });
        $('#video-comments').html(htmlVideoComments)

        $("#comment-count").replaceWith(`<span id="comment-count">${video.Comments.length} Comments</span>`)
      })
    }
  </script>
</body>

</html>